<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kazanan Numaralar</title>
    <link rel="stylesheet" href="style.css"> <!-- Update the path to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>Kazanan Numaralar</h1>
        <ul id="numbers" class="numbers-container"></ul>
    </div>
    <script src="script.js"></script> <!-- Update the path to your JavaScript file -->
</body>
</html>
